{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div id="titleapp" class="row">
        <div class="col-md-12 col-sm-12">
          <h1>{% include "_brandname.html" %}</h1>
          <p>Saving Palawan Endangered Species one at a time</p>        

	       <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
        </div>

      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Palawan Heritage</h2>
      <p>Palawan is considered as the last ecological frontier of the Philippines due to its undeniably rich natural resources. The province is composed of more or less 1,700 islands which measures approximately 1.5 million hectares. Almost 46% of the total land cover of the province are forest areas- a large portion of which are classified as indigenous vegetation, rainforest, mangroves, and coastal ecosystem (PCSD, 2016) </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>What is the Project About</h2>
      <p>The project aims to raise environmental awareness and promote wildlife conservation actions in the province through publication and dissemination of key information about high-value wildlife. This information will also help managers and decision makers to develop appropriate activities such as crafting of policies and management plans and strategies leaning towards habitat protection and biodiversity conservation </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>How to do it</h2>
      <p>In order to expedite the management and utilization of wildlife data and information, the project intends to establish a centralized database of studies/researches on identified Palawan wildlife. The database will be most useful in storing and managing the updated information about Palawan wildlife</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

