{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Species{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="species" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}
<div id="searchpage" class="text-page2">
    <div class="container">
      <div class="row">        
      	<h1>DETAIL PAGE</h1>
      </div>


      <div class="row">
          <div id="sidebarsection" class="col-sm-2">
              <div class="row" ></div>
              <div class="row">
                <nav class="nav-sidebar">
                    <ul class="nav">
                        <li class="active"><a href="#">All</a></li>
                        <li><a href="#">Freshwater Mammals</a></li>
                        <li ><a href="#">Birds</a></li>
                        <li><a href="#">Mollusks</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li class="nav-divider"></li>
                        <li><a href="#"><i class="glyphicon glyphicon-off"></i> Export</a></li>
                    </ul>
                </nav>
              </div>
          </div>        
          <div id="searchsection" class="col-md-10 text-center">
              <div class="row">
                  <div class="col-sm-12">
                  <h2>Search for Species</h2>
                  <p class="lead">searching leads to power</p>
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              <span id="search_concept">Filter by</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li><a href="#contains">Contains</a></li>
                              <li><a href="#its_equal">It's equal</a></li>
                              <li><a href="#greather_than">Greather than &gt;</a></li>
                              <li><a href="#less_than">Less than &lt; </a></li>
                              <li class="divider"></li>
                              <li><a href="#all">Anything</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="all" id="search_param">         
                        <input type="text" class="form-control" name="x" placeholder="Search term...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
              <div id="displayspec" class="row" >
                
                 <div class="row">
                    <div class="col-sm-4">
                      <h2>picture</h2>
                    </div>
                    <div class="col-sm-8 text-left">
	                    <div class="row">	                    
	                      <h1><a href="#">{{specie_detail.scientific_name}}</a></h1>
	                      <h3>Primary Information</h3>
	                     <strong>Kingdom : </strong><i>{{specie_detail.kingdom}}</i><br>
	                      <strong>Phylum : </strong><i>{{specie_detail.phylum}}</i><br>
	                      <strong>Class : </strong><i>{{specie_detail.classname}}</i><br>
	                      <strong>Order : </strong><i>{{specie_detail.order}}</i><br>
	                      <strong>Family : </strong><i>{{specie_detail.family}}</i><br>
	                      <strong>Genus : </strong><i>{{specie_detail.genus}}</i><br>
	                      <strong>Species Name : </strong><i>{{specie_detail.specie}}</i><br>
	                      <strong>Scientific Name Author : </strong><i>{{specie_detail.sciname_author}}</i><br>
	                      <strong>Slug : </strong><i>{{specie_detail.slug}}</i><br>
	                      <strong>Basis of Record : </strong><i>{{specie_detail.basis_of_record}}</i><br>
	                      <strong>Taxonomic Notes : </strong><br>
	                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi soluta praesentium nostrum, aliquam eos voluptate eaque laboriosam aliquid sed, quas quidem voluptatem nulla quisquam odit qui aspernatur, quo blanditiis. Repellat.</p>
	                      <strong>Researcher : </strong><i>{{specie_detail.created_by}}</i><br>
	                      <strong>{{now}}</strong><br> 
						</div>

						<div class="row">
							<h3>Area of Distribution</h3>
					      <div id="map-outer" class="col-md-10">
					        <div id="map-container" class="col-md-12">					        
					        </div>
					      </div>
					      <div class="col-md-2"></div>
					    </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                  </div>
              </div>
        </div>        
      </div>

    </div>
</div>
<div id="sec3">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
{% endblock container %}

{% block scripts %}
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
   <script>
	   function init_map() {
	     // Enter the latitude and longitude of your office here
	     //var rlat = ((Math.random() > 0.5 ? 0.001 : -0.009) + Math.random() * 0.008);
	     //var rlong = ((Math.random() > 0.5 ? 0.001 : -0.009) + Math.random() * 0.008);

		 var specieLocation = new google.maps.LatLng(9.7769218, 118.7347354);
		 // var specieLocation = new google.maps.LatLng(rlat, rlong);

	     var mapOptions = {
	          center: specieLocation,
	          zoom: 5
	     };

		 var marker = new google.maps.Marker({
		   position: specieLocation,
		   title:"The Approximate Location of a Specie"});

	     var map = new google.maps.Map(document.getElementById("map-container"),mapOptions);
		 marker.setMap(map);
	   }
   google.maps.event.addDomListener(window, 'load', init_map);
  </script> 
  <script>
      $(document).ready(function(e){


          $('nav ul li').click( function() {
           $(this).addClass('active').siblings().removeClass('active');
           
          });

          $('.search-panel .dropdown-menu').find('a').click(function(e) {
            e.preventDefault();
             var param = $(this).attr("href").replace("#","");
             var concept = $(this).text();
             $('.search-panel span#search_concept').text(concept);
            $('.input-group #search_param').val(param);
          });


      }); //document ready
  </script>

{% endblock scripts %}




