{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Species{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

{% block container %}

  <div class="container" style="margin-top:15%">
	{% if species_list %}
	<ul>
		{% for specie in species_list %}
			<li>
				<a href="{% url 'species:species-detail' specie.slug %}">{{specie.slug}}</a>
			</li>
		{% endfor %}
	</ul>
	{% else %}
		<h2>species list is empty</h2>
	{% endif %}
  	
  </div>

{% endblock %}




