@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

html, body{
    height:100%;		/* For full height images */
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#titleapp {
  padding-bottom: 10%;
  padding-right: 5%;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.alert {
    margin-top: 55px;
    margin-bottom: 5px;
}

body>.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.navbar-transparent .navbar-nav > .active > a {
    background-color: transparent;
}

.navbar-form {
    margin-right: 0;
}

.navbar-nav>li>a.profile-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav>.btn{
    margin-top:10px;
    margin-right: 1.7em;
}

.navbar-nav > li > a {
    font-size: 16px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand > img {
    float: left;
    margin-right: 10px;
}

.btn {
    background-image: none;
    -webkit-box-shadow: 0px 1px 0px #ddd;
    -moz-box-shadow: 0px 1px 0px #ddd;
    box-shadow: 0px 1px 0px #ddd;
}


/* Home page styling */
.corporate-jumbo {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)),
      url("/static/site/img/banner.jpg");
    background-repeat: no-repeat;
    background-position: 80% center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    color: #f5f5f5;
    padding: 10em 0;
    margin-bottom: 0;
    height: 100%;
}

@media screen and (min-width : 768px){
  #titleapp {
    padding-bottom:15%;
    padding-right:20%;

  }
  .corporate-jumbo h1 {
    font-family: fantasy;
    color: #eee;
    text-shadow: 0px 0px 2px black;
    font-size: 69px;
  }
}

@media screen and (min-width : 414px) and (max-width : 736px){
  #titleapp {
    padding-bottom:20%;
    padding-right:25%;
  }
  .corporate-jumbo h1 {
    color: #eee;
    text-shadow: 0px 0px 2px black;
    font-size: 55px;
    font-family: fantasy,serif;
    padding-right:5px;

  }
}

@media screen and (min-width : 375px) and (max-width : 410px){
  #titleapp {
    padding-bottom:40%;
    padding-right:15%;
  }
  .corporate-jumbo h1 {
    color: #eee;
    text-shadow: 0px 0px 2px black;
    font-size: 45px;
    font-family: fantasy,serif;
    padding-right:5px;

  }
}

@media screen and (min-width : 300px) and (max-width : 374px){
  #titleapp {
    padding-bottom:20%;
    padding-right:5%;
  }
  .corporate-jumbo h1 {
    color: #eee;
    text-shadow: 0px 0px 2px black;
    font-size: 45px;
    font-family: fantasy,serif;
    padding-right:5px;

  }
}

@media screen and (min-width : 200px) and (max-width : 287px){
  #titleapp {
    padding-bottom:20%;
    padding-right:5%;
  }
  .corporate-jumbo h1 {
    color: #eee;
    text-shadow: 0px 0px 2px black;
    font-size: 25px;
    font-family: fantasy;
    padding-right:5px;

  }
}


.corporate-jumbo .well {
    background-color: rgba(245, 245, 245, .7);
}

.corporate-jumbo p {
    color: #eee;
    text-shadow: 0px 0px 2px black;
}

.corporate-jumbo p {
    font-weight: 500;
}

.corporate-jumbo .well legend {
    color: #333;
}

.corporate-jumbo > .container {
    display: block;
    position: absolute;
    bottom: 2em;
    left: 15px;
}

.contact-banner {
    padding: 100px 0;
    background: #e0e0e0;
    margin-top: 100px;
}

.footer a:hover {
    text-decoration: none;
}

/* About page styling */
#sec1 {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
}

/* Profile page styling */
.profile-head {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
    padding: 70px 0px 30px 20px;
}
.profile-body {
    padding: 4px 0px;
}

.text-page {
    padding: 120px 0;
}

#map-outer {
    height: 440px;
    padding: 40px 20px;
    margin-bottom: 20px;
    background-color:#FFF
}

#map-container {
    height: 400px
}

.img-resize {
   display: block;
  max-width: 100%;
  height: auto;
}
.img-dim {
    opacity: 0.5;
    box-shadow: inset 0px 0px 64px 64px #EA1717, 0px 0px 4px 4px #EA1717;
}

/* Authentication forms */
.form-box form,
.form-box .form-message {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-box form .checkbox {
  margin-bottom: 10px;
}

.form-box form .checkbox {
  font-weight: normal;
}

.form-box form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-box form .form-control:focus {
  z-index: 2;
}

/* addendum rcd */

#headernav {
  background-color: white;
}
#searchpage {
  padding-bottom: 10px;
}
.text-page2{
  padding-top:80px;
}

#sidebarsection {
  padding-top: 10%;
  font-size: large;
}

#searchsection {

}
#displayspec {
  margin-top: 10px;
  margin-left: 0px;
  font-size: medium;
}


/* title of personell*/
#sec2 > div > div:nth-child(2) h2{
  text-align: center;
}
/*the search box font size*/
#searchsection > div > div > div > input.form-control {
  font-size: medium;
}

/*@media (hover: hover) {
    a:hover { color: blue; 
      background-color: blue;}
}*/

/* SIDEBAR */
.nav-sidebar {
  background-color: #efefef;
  border: 0px;;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}

.nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 

}

.nav-sidebar .active a:hover {
    background-color: #428bca;   
}


.nav-sidebar .active a.permahover{
  background-color: green;  
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}